<div class="ws740 pre l m10 p15tb">
<div class="full  tac l">
    <button id="left">◄</button> <b class="ttu">1-й квартал</b> <button id="right">►</button>
</div>
<div class="full l">
    <button id="last" class="m50l p10tb">▲</button>
</div>
<div id="pane-target" class="pane ws740 l hs450 vs">
<div style=" width:1480px;">
<ul class="elements l ws740 p0 lsn">
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="activevent.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ПН, 17</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="activevent.html#">15.00</a>
<span class="full m5tb l linc">
<a href="activevent.html#">Секция</a><br><a href="activevent.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="activevent.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="activevent.html#">Повестка</a><br><a href="activevent.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="activevent.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="activevent.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ВТ, 20</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="activevent.html#">15.00</a>
<span class="full m5tb l linc">
<a href="activevent.html#">Секция</a><br><a href="activevent.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="activevent.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="activevent.html#">Повестка</a><br><a href="activevent.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="activevent.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="activevent.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>СР, 18</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="activevent.html#">15.00</a>
<span class="full m5tb l linc">
<a href="activevent.html#">Секция</a><br><a href="activevent.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="activevent.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="activevent.html#">Повестка</a><br><a href="activevent.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="activevent.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="activevent.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ПН, 20</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="activevent.html#">15.00</a>
<span class="full m5tb l linc">
<a href="activevent.html#">Секция</a><br><a href="activevent.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="activevent.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="activevent.html#">Повестка</a><br><a href="activevent.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="activevent.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="activevent.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>СР, 17</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="activevent.html#">15.00</a>
<span class="full m5tb l linc">
<a href="activevent.html#">Секция</a><br><a href="activevent.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="activevent.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="activevent.html#">Повестка</a><br><a href="activevent.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="activevent.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="activevent.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ПТ, 17</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="activevent.html#">15.00</a>
<span class="full m5tb l linc">
<a href="activevent.html#">Секция</a><br><a href="activevent.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="activevent.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="activevent.html#">Повестка</a><br><a href="activevent.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="activevent.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="activevent.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ПТ, 17</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="activevent.html#">15.00</a>
<span class="full m5tb l linc">
<a href="activevent.html#">Секция</a><br><a href="activevent.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="activevent.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="activevent.html#">Повестка</a><br><a href="activevent.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="activevent.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="activevent.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ПТ, 17</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="activevent.html#">15.00</a>
<span class="full m5tb l linc">
<a href="activevent.html#">Секция</a><br><a href="activevent.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="activevent.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="activevent.html#">Повестка</a><br><a href="activevent.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="activevent.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="activevent.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ПТ, 17</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="activevent.html#">15.00</a>
<span class="full m5tb l linc">
<a href="activevent.html#">Секция</a><br><a href="activevent.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="activevent.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="activevent.html#">Повестка</a><br><a href="activevent.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="activevent.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="activevent.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ПТ, 17</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="activevent.html#">15.00</a>
<span class="full m5tb l linc">
<a href="activevent.html#">Секция</a><br><a href="activevent.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="activevent.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="activevent.html#">Повестка</a><br><a href="activevent.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="activevent.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="activevent.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ПТ, 17</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="activevent.html#">15.00</a>
<span class="full m5tb l linc">
<a href="activevent.html#">Секция</a><br><a href="activevent.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="activevent.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="activevent.html#">Повестка</a><br><a href="activevent.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="activevent.html#">А. Ишмуратов</a></div>
    </li>
</ul>
<ul class="elements l ws740 p0 lsn">
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="activevent.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ВТ, 19</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="activevent.html#">15.00</a>
<span class="full m5tb l linc">
<a href="activevent.html#">Секция</a><br><a href="activevent.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="activevent.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="activevent.html#">Повестка</a><br><a href="activevent.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="activevent.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="activevent.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ВТ, 19</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="activevent.html#">15.00</a>
<span class="full m5tb l linc">
<a href="activevent.html#">Секция</a><br><a href="activevent.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="activevent.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="activevent.html#">Повестка</a><br><a href="activevent.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="activevent.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="activevent.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ВТ, 19</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="activevent.html#">15.00</a>
<span class="full m5tb l linc">
<a href="activevent.html#">Секция</a><br><a href="activevent.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="activevent.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="activevent.html#">Повестка</a><br><a href="activevent.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="activevent.html#">А. Ишмуратов</a></div>
    </li>
</ul>
</div>
</div>
<div class="full l">
    <button id="next" class="m50l p10tb">▼</button>

</div>

</div>