<div class="ws770 l">
    <div class="ws650 m35tb r">
        <div class="full l m5b">
            <a href="all-talks.html#">Главная страница</a> / <a href="all-talks.html#">Совет малых предпринимателей</a> /
        </div>
        <div class="full m20b l ">
            <h1>Совет малых предпринимателей</h1>
        </div>

        <div class="alert a ws570 l m10b p15 fwb" role="alert">
            <span class="p15l">Ближайшее заседание состоится в четверг 20 ноября</span>
        </div>

        <div id="cont" class="ws540 l m10b">
            <a class="r" href="all-talks.html#goall">Посмотреть секции совета</a>
            <div class="full l m20tb">
                <strong class=" full m10b l ">Структура секций</strong>
                <div class="ws200 m10r l">

                    <input name="hero[]" type="hidden" id="" value="– Выберите секцию –"><a class="trigger" href="#">– Выберите секцию –</a><div class="dropcontainer"><ul class="dropdownhidden"><li><a href="#">– Выберите секцию –</a></li><li><a href="#">Чебурашка</a></li><li><a href="#">Крокодил Гена</a></li><li><a href="#">Шапокляк</a></li><li><a href="#">Крыса Лариса</a></li></ul></div>
                </div>
                <div class="full m20t l">
                    <h3 class="ttu">Повестка дня</h3>
                </div>
            </div>
            <div class="full l ">
                <strong class=" full m10b l ">Обсуждения</strong>
                <ol class="p0 ws540">
                    <li class="full m10b fs14 l"><h3><a href="all-talks.html#">Заголовок вопроса</a></h3>
                        <div class="ws210 m10tb l p10r fs10 tit">Заседание<br><a class="fs15" href="all-talks.html#">Название заседания</a></div>
                        <div class="ws210 m10tb l p10r  tit"><span class="full fs10 l">Файлы</span><span class="ws100 m10r l"><a href="all-talks.html#">скачать</a></span><span class="ws100 lh1 l"><a href="all-talks.html#">Голосование</a></span></div>
                    </li>
                    <li class="full m10b fs14 l"><h3><a href="all-talks.html#">Заголовок вопроса</a></h3>
                        <div class="ws210 m10tb l p10r fs10 tit">Заседание<br><a class="fs15" href="all-talks.html#">Название заседания</a></div>
                        <div class="ws210 m10tb l p10r  tit"><span class="full fs10 l">Файлы</span><span class="ws100 m10r l"><a href="all-talks.html#">скачать</a></span><span class="ws100 lh1 l"><a href="all-talks.html#">Голосование</a></span></div>
                    </li>
                    <li class="full m10b fs14 l"><h3><a href="all-talks.html#">Заголовок вопроса</a></h3>
                        <div class="ws210 m10tb l p10r fs10 tit">Заседание<br><a class="fs15" href="all-talks.html#">Название заседания</a></div>
                        <div class="ws210 m10tb l p10r  tit"><span class="full fs10 l">Файлы</span><span class="ws100 m10r l"><a href="all-talks.html#">скачать</a></span><span class="ws100 lh1 l"><a href="all-talks.html#">Голосование</a></span></div>
                    </li>




                </ol>
            </div>


        </div></div>


</div>