<div class="ws770 l">
    <div class="ws650 m35tb r">
        <div class="full l m5b">
            <a href="users.html#">Главная страница</a> / <a href="users.html#">Совет малых предпринимателей</a> /
        </div>
        <div class="full m20b l ">
            <h1>Участники</h1>
        </div>




        <div id="cont" class="ws540 l m10b">

            <div class="full l m20tb">
                <strong class=" full m10b l ">Структура секций</strong>
                <div class="ws200 m10r l">

                    <input name="hero[]" type="hidden" id="" value="– Выберите секцию –"><a class="trigger" href="#">– Выберите секцию –</a><div class="dropcontainer"><ul class="dropdownhidden"><li><a href="#">– Выберите секцию –</a></li><li><a href="#">Чебурашка</a></li><li><a href="#">Крокодил Гена</a></li><li><a href="#">Шапокляк</a></li><li><a href="#">Крыса Лариса</a></li></ul></div>
                </div>

            </div>




            <div class="full l m20b">
                <strong class=" full m20b l ">Секция активных молодых предпринимателей Самарской области</strong>
                <ul class="p0 lsn ws540">
                    <li class="full m10b fs14 l"><div class="ws300 l"><a href="users.html#">Ишмуратов Андрей Иванович</a></div>     Председатель секции</li>
                    <li class="full m10b fs14 l"><div class="ws300 l"><a href="users.html#">Ишмуратов Андрей Иванович</a></div>     Секретарь секции</li>
                    <li class="full m10b fs14 l"><div class="ws300 l"><a href="users.html#">Ишмуратов Андрей Иванович</a></div>     Специалист секции</li>
                    <li class="full m10b fs14 l"><div class="ws300 l"><a href="users.html#">Ишмуратов Андрей Иванович</a></div>     Слушатель секции</li>
                    <li class="full m10b fs14 l"><div class="ws300 l"><a href="users.html#">Ишмуратов Андрей Иванович</a></div>     Слушатель секции</li>
                    <li class="full m10b fs14 l"><div class="ws300 l"><a href="users.html#">Ишмуратов Андрей Иванович</a></div>     Слушатель секции</li>
                    <li class="full m10b fs14 l"><div class="ws300 l"><a href="users.html#">Ишмуратов Андрей Иванович</a></div>     Слушатель секции</li>
                    <li class="full m10b fs14 l"><div class="ws300 l"><a href="users.html#">Ишмуратов Андрей Иванович</a></div>     Слушатель секции</li>
                    <li class="full m10b fs14 l"><div class="ws300 l"><a href="users.html#">Ишмуратов Андрей Иванович</a></div>     Слушатель секции</li>
                    <li class="full m10b fs14 l"><div class="ws300 l"><a href="users.html#">Ишмуратов Андрей Иванович</a></div>     Слушатель секции</li>
                </ul>
            </div>

        </div></div>
</div>