<div class="ws770 l">
    <div class="ws650 m35tb r">
        <div class="full l m5b">
            <a href="protokol.html#">Главная страница</a> / <a href="protokol.html#">Совет малых предпринимателей</a> /
        </div>
        <div class="ws540 m20b l ">
            <h1 class="ttu">Протокол<span class="full l ttl">заседания экспертной группы по реализации
проекта «Система автоматизации работы общественных советов»</span>
            </h1>
        </div>
        <div class="section lh1_5">
            <div class="full m20b l ">
                дата: <a href="protokol.html#">17 ноября 2014 года,</a> время провдения: 15.00 -17.00
            </div>
            <div class="full l ">
                <div class="ws320 l">по адресу: ул. Куйбышева, 100</div>
                <div class="ws320 m10l l">Председатель <a href="protokol.html#">А. Опарин </a>
                    <br>Секретарь <a href="protokol.html#">А. Ишмуратов</a><br><a href="protokol.html#">Секция</a>
                </div>
            </div>
            <div class="full l ">
                <h2>Присутствующие</h2>
            </div>





            <div class="full l m20tb">
                <ol class="p0 ins ws540 ">
                    <li class="full m20b l"><a href="protokol.html#">Фамилия Имя Отчество</a> –&nbsp;ВРИО Руководителя департамента административной реформы администрации г.о. Самара, Начальник Управления гражданских инициатив. Ранее – член президиума Общественного совета при Самарской губернской думе, автор нормативной документации совета) </li>
                    <li class="full m20b l"><a href="protokol.html#">Фамилия Имя Отчество</a> –&nbsp;ВРИО Руководителя департамента административной реформы администрации г.о. Самара, Начальник Управления гражданских инициатив. Ранее – член президиума Общественного совета при Самарской губернской думе, автор нормативной документации совета) </li>
                    <li class="full m20b l"><a href="protokol.html#">Фамилия Имя Отчество</a> –&nbsp;ВРИО Руководителя департамента административной реформы администрации г.о. Самара, Начальник Управления гражданских инициатив. Ранее – член президиума Общественного совета при Самарской губернской думе, автор нормативной документации совета) </li>
                    <li class="full m20b l"><a href="protokol.html#">Фамилия Имя Отчество</a> –&nbsp;ВРИО Руководителя департамента административной реформы администрации г.о. Самара, Начальник Управления гражданских инициатив. Ранее – член президиума Общественного совета при Самарской губернской думе, автор нормативной документации совета) </li>
                </ol>
            </div>
            <div class="full m20b l ">
                <h2>Были рассмотрены вопросы:</h2>
            </div>
            <ol type="I" class="p0 ws540 ins lh1_5">
                <li class=" l">
                    О социально значимом проекте и о плане работы
<span class="full l ">
<a href="protokol.html#">А.И Ишмуратов</a>, <a href="protokol.html#">П.В. Сучков</a>
</span>
<span class="full l ">
заслушав информацию докладчиков,
</span>
<span class="full m10b ttu l ">
Решили:
</span>
                    <ol class="p0  m50l">
                        <li class="l">
                            Утвердить предложенный план работы по реализации проекта.
                        </li>
                        <li class="l">
                            Утвердить предложенный план работы по реализации проекта.
                        </li>
                        <li class="l">
                            Утвердить предложенный план работы по реализации проекта.
                        </li>
                    </ol>
<span class="full l m20tb">
Голосовали: за – «единогласно».
</span>
                </li>
                <li class=" l">
                    О социально значимом проекте и о плане работы
<span class="full l ">
<a href="protokol.html#">А.И Ишмуратов</a>, <a href="protokol.html#">П.В. Сучков</a>
</span>
<span class="full l ">
заслушав информацию докладчиков,
</span>
<span class="full m10b ttu l ">
Решили:
</span>
                    <ol class="p0  m50l">
                        <li class="l">
                            Утвердить предложенный план работы по реализации проекта.
                        </li>
                        <li class="l">
                            Утвердить предложенный план работы по реализации проекта.
                        </li>
                        <li class="l">
                            Утвердить предложенный план работы по реализации проекта.
                        </li>
                    </ol>
<span class="full l m20tb">
Голосовали: за – «единогласно».
</span>
                </li>
                <li class=" l">
                    О социально значимом проекте и о плане работы
<span class="full l ">
<a href="protokol.html#">А.И Ишмуратов</a>, <a href="protokol.html#">П.В. Сучков</a>
</span>
<span class="full l ">
заслушав информацию докладчиков,
</span>
<span class="full m10b ttu l ">
Решили:
</span>
                    <ol class="p0  m50l">
                        <li class="l">
                            Утвердить предложенный план работы по реализации проекта.
                        </li>
                        <li class="l">
                            Утвердить предложенный план работы по реализации проекта.
                        </li>
                        <li class="l">
                            Утвердить предложенный план работы по реализации проекта.
                        </li>
                    </ol>
<span class="full l m20tb">
Голосовали: за – «единогласно».
</span>
                </li>
                <li class=" l">
                    О социально значимом проекте и о плане работы
<span class="full l ">
<a href="protokol.html#">А.И Ишмуратов</a>, <a href="protokol.html#">П.В. Сучков</a>
</span>
<span class="full l ">
заслушав информацию докладчиков,
</span>
<span class="full m10b ttu l ">
Решили:
</span>
                    <ol class="p0  m50l">
                        <li class="l">
                            Утвердить предложенный план работы по реализации проекта.
                        </li>
                        <li class="l">
                            Утвердить предложенный план работы по реализации проекта.
                        </li>
                        <li class="l">
                            Утвердить предложенный план работы по реализации проекта.
                        </li>
                    </ol>
<span class="full l m20tb">
Голосовали: за – «единогласно».
</span>
                </li>
            </ol>


            <div class="ws540 m20b l tar ">
                Ответственные:<br>
                Должность звание <a href="protokol.html#">А.И Ишмуратов</a><br>
                Должность звание <a href="protokol.html#">А.И Ишмуратов</a>
            </div>
            <div class="ws540 m20tb l">
                <button class="ws150 l m10r action fwb ttu">Скачать</button><button class="ws150 l m10r action fwb ttu">Распечатать</button>
            </div></div>
    </div>
</div>