<div class="fill l pre">
<div id="goall" class="ws740 pab l m10 p15tb">
<a href="all-questions.html#" class="exit l  pab t ">x</a>


<div class="full  tac l">
    <button id="left">◄</button> <b class="ttu">1-й квартал</b> <button id="right">►</button>
</div>
<div class="full l">
    <button id="last" class="m50l p10tb">▲</button>
</div>
<div id="pane-target" class="pane ws740 l hs450 vs">
<div style=" width:1480px;">
<ul class="elements l ws740 p0 lsn">
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="all-questions.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ПН, 17</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="all-questions.html#">15.00</a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Секция</a><br><a href="all-questions.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="all-questions.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Повестка</a><br><a href="all-questions.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="all-questions.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="all-questions.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ВТ, 20</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="all-questions.html#">15.00</a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Секция</a><br><a href="all-questions.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="all-questions.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Повестка</a><br><a href="all-questions.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="all-questions.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="all-questions.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>СР, 18</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="all-questions.html#">15.00</a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Секция</a><br><a href="all-questions.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="all-questions.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Повестка</a><br><a href="all-questions.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="all-questions.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="all-questions.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ПН, 20</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="all-questions.html#">15.00</a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Секция</a><br><a href="all-questions.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="all-questions.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Повестка</a><br><a href="all-questions.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="all-questions.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="all-questions.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>СР, 17</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="all-questions.html#">15.00</a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Секция</a><br><a href="all-questions.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="all-questions.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Повестка</a><br><a href="all-questions.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="all-questions.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="all-questions.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ПТ, 17</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="all-questions.html#">15.00</a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Секция</a><br><a href="all-questions.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="all-questions.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Повестка</a><br><a href="all-questions.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="all-questions.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="all-questions.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ПТ, 17</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="all-questions.html#">15.00</a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Секция</a><br><a href="all-questions.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="all-questions.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Повестка</a><br><a href="all-questions.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="all-questions.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="all-questions.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ПТ, 17</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="all-questions.html#">15.00</a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Секция</a><br><a href="all-questions.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="all-questions.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Повестка</a><br><a href="all-questions.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="all-questions.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="all-questions.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ПТ, 17</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="all-questions.html#">15.00</a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Секция</a><br><a href="all-questions.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="all-questions.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Повестка</a><br><a href="all-questions.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="all-questions.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="all-questions.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ПТ, 17</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="all-questions.html#">15.00</a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Секция</a><br><a href="all-questions.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="all-questions.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Повестка</a><br><a href="all-questions.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="all-questions.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="all-questions.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ПТ, 17</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="all-questions.html#">15.00</a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Секция</a><br><a href="all-questions.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="all-questions.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Повестка</a><br><a href="all-questions.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="all-questions.html#">А. Ишмуратов</a></div>
    </li>
</ul>
<ul class="elements l ws740 p0 lsn">
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="all-questions.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ВТ, 19</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="all-questions.html#">15.00</a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Секция</a><br><a href="all-questions.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="all-questions.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Повестка</a><br><a href="all-questions.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="all-questions.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="all-questions.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ВТ, 19</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="all-questions.html#">15.00</a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Секция</a><br><a href="all-questions.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="all-questions.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Повестка</a><br><a href="all-questions.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="all-questions.html#">А. Ишмуратов</a></div>
    </li>
    <li class="section full l hs70 m20b">
        <div class="full m5b l"><div class="ws630 r"><h3><a href="all-questions.html#">Заголовок с названием мероприятия</a></h3></div></div>
        <div class="ws70  tar l"><b>ВТ, 19</b></div>
        <div class="ws210 m20l p20l l pic">Ул. Куйбышева, 100 в <a href="all-questions.html#">15.00</a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Секция</a><br><a href="all-questions.html#">Состав</a>
</span>
        </div>
        <div class="ws210 m10l l">Председатель <a href="all-questions.html#">А. Опарин </a>
<span class="full m5tb l linc">
<a href="all-questions.html#">Повестка</a><br><a href="all-questions.html#">Протокол</a></span></div>

        <div class="ws190 m10l l">Секретарь <a href="all-questions.html#">А. Ишмуратов</a></div>
    </li>
</ul>
</div>
</div>
<div class="full l">
    <button id="next" class="m50l p10tb">▼</button>

</div>

</div>
<div class="ws770 l">
    <div class="ws650 m35tb r">
        <div class="full l m5b">
            <a href="all-questions.html#">Главная страница</a> / <a href="all-questions.html#">Совет малых предпринимателей</a> /
        </div>
        <div class="full m20b l ">
            <h1>Совет малых предпринимателей</h1>
        </div>

        <div class="alert a ws570 l m10b p15 fwb" role="alert">
            <span class="p15l">Ближайшее заседание состоится в четверг 20 ноября</span>
        </div>

        <div id="cont" class="ws540 l m10b">
            <a class="r" href="all-questions.html#goall">Посмотреть секции совета</a>
            <div class="full l m20tb">
                <strong class=" full m10b l ">Структура секций</strong>
                <div class="ws200 m10r l">

                    <input name="hero[]" type="hidden" id="" value="– Выберите секцию –"><a class="trigger" href="#">– Выберите секцию –</a><div class="dropcontainer"><ul class="dropdownhidden"><li><a href="#">– Выберите секцию –</a></li><li><a href="#">Чебурашка</a></li><li><a href="#">Крокодил Гена</a></li><li><a href="#">Шапокляк</a></li><li><a href="#">Крыса Лариса</a></li></ul></div>
                </div>
                <div class="full m20t l">
                    <h3 class="ttu">Повестка дня</h3>
                </div>
            </div>
            <div class="full l ">
                <strong class=" full m10b l ">Вопросы</strong>
                <ol class="p0 ws540">
                    <li class="full m10b fs14  l"><h3><a href="all-questions.html#">Заголовок вопроса</a></h3>
                        <div class="ws210 m10tb l p10r fs10 tit">Заседание<br><a class="fs15" href="all-questions.html#">Название заседания</a></div>
                        <div class="ws210 m10tb l p10r  tit"><span class="full fs10 l">Инициатор</span><span class="ws100 m10r l"><a href="all-questions.html#">Ишмуратов А.</a></span><span class="ws100 lh1 l">Голосование<br>недоступно</span></div><div class="ws100 m10tb l tit"><span class="full fs10 l">Статус</span><span>принят</span></div>
                    </li>
                    <li class="full m10b fs14 l"><h3><a href="all-questions.html#">Заголовок вопроса</a></h3>
                        <div class="ws210 m10tb l p10r fs10 tit">Заседание<br><a class="fs15" href="all-questions.html#">Название заседания</a></div>
                        <div class="ws210 m10tb l p10r  tit"><span class="full fs10 l">Инициатор</span><span class="ws100 m10r l"><a href="all-questions.html#">Ишмуратов А.</a></span><span class="ws100 lh1 l"><a href="all-questions.html#">Голосование</a></span></div><div class="ws100 m10tb l tit"><span class="full fs10 l">Статус</span><span class="gren">Идет сейчас</span></div>
                    </li>
                    <li class="full m10b fs14 l"><h3><a href="all-questions.html#">Заголовок вопроса</a></h3>
                        <div class="ws210 m10tb l p10r fs10 tit">Заседание<br><a class="fs15" href="all-questions.html#">Название заседания</a></div>
                        <div class="ws210 m10tb l p10r  tit"><span class="full fs10 l">Инициатор</span><span class="ws100 m10r l"><a href="all-questions.html#">Ишмуратов А.</a></span><span class="ws100 lh1 l"><a href="all-questions.html#">Голосование</a></span></div><div class="ws100 m10tb l tit"><span class="full fs10 l">Статус</span><span class="gren">Идет сейчас</span></div>
                    </li>




                </ol>
            </div>


        </div></div>


</div>
</div>